
#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    animation: anim2 1s cubic-bezier(0.19, 1, 0.22, 1) 7s both;
}
h1{
    color: rgb(244, 254, 254);
}
#wrapperload{
    width: 500px;
    height: 100px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

#wrapperload .elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #efefef; */
}

#wrapperload .elem img{
    width: 40%;
}

#wrapperload .elem:nth-child(1){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}

#wrapperload .elem:nth-child(2){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}

#wrapperload .elem:nth-child(3){
    animation: anim 2s cubic-bezier(0.19, 1, 0.22, 1) 5s both;
}

@keyframes anim{
    to{
        margin-top: -100px;
    }
}

@keyframes anim2{
    to{
        transform: translateY(-100%);
    }
}
